@import "GenerateImage.css";
@import "ProjectMain.css";
@import "ExperienceMain.css";

.home-main-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.split {
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow-x: hidden;
}

.left {
    margin-top: 50px;
    left: 0;
}

.right {
    right: 0;
    padding-left: 5%;
    padding-right: 3%;
    height: 100%;
    border-left: 3px solid #011638;
}

h3 {
    font-weight: bold;
    text-align: center;
}